:root {
  --background: #f6f7f8;
  --green: #004300;
  --lightGreen: #e4ffdd;
  --lightGreenTrans: #e4ffdda8;
  --darkBackground: #222e37;
  --silver: #7d8491;
  --silverTrans: #7d8491a8;
  --silverTransLess: #7d8491de;
}

body {
  background: var(--darkBackground);
  color: var(--background);
  font-family: 'Ubuntu', sans-serif;
  
}

.ffv {
  font-family: "Vanadine", sans-serif;
  font-weight: bold;
}

.nav-items {
  color: var(--background);
  border-right: 2px solid var(--green);
}

.hero-img {
  max-width: 100%;
  margin: 0;
}

.hero-img2 {
  display: none;
}

.gce {
  border-bottom: 3px solid var(--green);
}

.gce-left {
  background: linear-gradient(to right, var(--silver), var(--darkBackground));
  text-shadow: 1px 1px 5px black;
}

.gce-right {
  background: linear-gradient(to left, var(--silver), var(--darkBackground));
  text-shadow: 1px 1px 5px black;
}

.px-6 {
  padding: 0px 15%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--darkBackground);
    background: linear-gradient(0deg, var(--silver) -5% , 30% , var(--darkBackground)); 
    border-color: transparent;
    font-weight: bolder;
}

.nav-tabs .nav-link{
    color: gray;
    border: none;
    padding-bottom: 0px;
    padding-top: 15px;
    font-family: "Vanadine", sans-serif;
    font-weight: bold;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
  border-top: none;
}

.px-tabs {
  padding: 0 10%;
}

.vehicles {
  background-image: url("./images/vehicles-lg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.flight {
  background-image: url('./images/flight2-lg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.shipping {
  background-image: url('./images/shipping-lg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.calculator-form {
  background: var(--silverTrans); 
  color: var(--darkBackground);
  border: 3px solid var(--silver);
}

.calculator-box {
  background: var(--silverTransLess); 
  color: var(--darkBackground);
  border: 3px solid var(--silver);
} 

.calculator-form label {
  font-weight: 300;
  padding-left: 7px;
  padding-right: 5px;
  margin-right: auto;
}

.calculator-form select, input {
  border: 2px solid var(--green);
  border-radius: 3px;
  background-color: var(--darkBackground);
  color: var(--silver);
  margin: 0 0px;
  min-width: 70%;
  max-width: 70%;
  max-height: 40px;
  margin-bottom: 15px;
  padding-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  outline: none;
}

.calculator-form select:focus, input:focus {
  border: 2px solid var(--lightGreenTrans);
  outline: none;
}

/* Switch Specific Styles Start */
/* Author: thelaazyguy */

.wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin: 0;
  height: 40px;
}

.switch_box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

input[type="checkbox"].switch_1{
  font-size: 21px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 35px;
  background: var(--darkBackground);
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  .input[type="checkbox"].switch_1:focus {
    border-color: var(--darkBackground);
    outline: none;
  }
  
  input[type="checkbox"].switch_1:checked {
  background: var(--silver);
  }
  
  input[type="checkbox"].switch_1:after{
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--silverTrans);
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
          box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
          transform: scale(.7);
  left: 0;
  top: -10;
  padding-bottom: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
  left: calc(100% - 1.5em);
  background-color: var(--darkBackground);
  }
  
/* Switch Specific Style End */

.calculator-form input {
  padding-left: 15px;
}

.calculator-form select {
  padding: 0 10px;
}

.calculator-form div {
  display: flex;
  justify-content: right;
}

.calculator-form h3 {
  border-bottom: 2px solid var(--green);
}

.calculator-form button {
  border: 4px solid var(--darkBackground);
  border-radius: 5px;
  background-color: var(--silverTrans);
  color: var(--darkBackground);
  padding: 0px 25px;
  margin: 4px auto;
  min-width: 25%;
  transition: linear .25s;
}

.calculator-form button:hover {
  border: 4px solid var(--silver);
}

.calculator-form button:active {
  border-color: var(--darkBackground);
  background-color: var(--darkBackground);
  color: var(--silver);
}

.calculator-form-small label {
  min-width: 15%;
  max-width: 15%;
  padding-left: 7px;
  margin-right: 21px;
}

.calculator-form-small select,
.calculator-form-small input {
  max-width: 25%;
  min-width: 25%;
}

.calculator-form-divider {
  min-height: 20px;
}

.calculator-box-divider {
  min-height: 10vh;
}

.calculator-box h3 {
  border-bottom: 2px solid var(--green);
}


@media only screen and (max-width: 550px) {
  .calculator-form select#distanceUnit, select#shippingDistUnit {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-img1 {
    display: none;
  }
  .hero-img2 {
    display: inline-block;
  }
  .px-6 {
    padding: 0;
  }
  .px-tabs {
    padding: 0 10px;
  }
  .vehicles {
    background-image: url("./images/vehicles-sm.jpg");
  }
  .flight {
    background-image: url('./images/flight2-xs.jpg');
  }
  .shipping {
    background-image: url('./images/shipping-sm.jpg');
  }
  .calculator-form select {
    padding-left: 5px;
  }
  .calculator-form-divider {
    min-height: 0px;
  }
  .calculator-box-divider {
    min-height: 20px;
  }
  .calculator-form input {
    padding-left: 10px;
  }
  .calculator-form select, 
  .calculator-form input {
    min-width: 68%;
    max-width: 68%;
  }
  .calculator-form-small select,
  .calculator-form-small input {
    max-width: 25%;
    min-width: 25%;
  }
  .calculator-form-small label {
    margin-right: 4px;
  }
}

@media only screen and (max-width: 992px) {
  .nav-items {
    border: none;
    text-align: end;
  }
}

@media only screen and (min-width: 1400px) {
  .landing {
    background-size: cover;
  }
}